
/* DynamicTable.css */
.dynamic-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    
}

.dynamic-table th, .dynamic-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}

.dynamic-table th {
    background-color: #f2f2f2;
}

.dynamic-table input {
    margin-right: 5px;
}
